* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.myNav {
  background-color: #000;
}
.navLinks {
  display: flex;
  justify-content: space-around;
}
.link {
  color: #fff;
}
.catData {
  display: flex;
  padding: 10px;
}
.catDataBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  background-color: green;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.catImg {
  width: 200px;
  height: auto;
}
